<footer class="d-flex align-items-start justify-content-between">

    <div class="footer-bg-img">
        <img src="/src/static/assets/Wave.svg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-start">
                <div class="col-lg-6 col-md-12 follow-us">
                    <span class="footer-web-span-head">FOLLOW US</span>
                    <div class="footer-header-content-sect mt-3">
                        <div class="sosial-network-wrapper  d-flex align-items-center justify-content-start">
                            <div class="sosial-network active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22"
                                    fill="none">
                                    <path
                                        d="M12 1H9C7.67392 1 6.40215 1.52678 5.46447 2.46447C4.52678 3.40215 4 4.67392 4 6V9H1V13H4V21H8V13H11L12 9H8V6C8 5.73478 8.10536 5.48043 8.29289 5.29289C8.48043 5.10536 8.73478 5 9 5H12V1Z"
                                        stroke="#6C5CE7" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="sosial-network">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                    fill="none">
                                    <path
                                        d="M24 16C25.5913 16 27.1174 16.6321 28.2426 17.7574C29.3679 18.8826 30 20.4087 30 22V29H26V22C26 21.4696 25.7893 20.9609 25.4142 20.5858C25.0391 20.2107 24.5304 20 24 20C23.4696 20 22.9609 20.2107 22.5858 20.5858C22.2107 20.9609 22 21.4696 22 22V29H18V22C18 20.4087 18.6321 18.8826 19.7574 17.7574C20.8826 16.6321 22.4087 16 24 16V16Z"
                                        stroke="#6C5CE7" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M14 17H10V29H14V17Z" stroke="#6C5CE7" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14Z"
                                        stroke="#6C5CE7" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="sosial-network">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                    fill="none">
                                    <path
                                        d="M30.0744 17.0021C27.8044 9.41214 24.5344 7.65214 16.9944 9.92214C9.4544 12.1921 7.6444 15.4621 9.9144 23.0021C12.1844 30.5421 15.4544 32.3521 22.9944 30.0821C30.5344 27.8121 32.3444 24.5421 30.0744 17.0021Z"
                                        stroke="#6C5CE7" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M20.5645 13.9922L24.1445 24.3922" stroke="#6C5CE7" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.8444 15.6121L19.4244 26.0121" stroke="#6C5CE7" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M24.3844 15.8521L13.9844 19.4321" stroke="#6C5CE7" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M26.0044 20.572L15.6044 24.152" stroke="#6C5CE7" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="sosial-network">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20"
                                    fill="none">
                                    <path
                                        d="M23 1.01006C22.0424 1.68553 20.9821 2.20217 19.86 2.54006C19.2577 1.84757 18.4573 1.35675 17.567 1.13398C16.6767 0.911216 15.7395 0.967251 14.8821 1.29451C14.0247 1.62177 13.2884 2.20446 12.773 2.96377C12.2575 3.72309 11.9877 4.62239 12 5.54006V6.54006C10.2426 6.58562 8.50127 6.19587 6.93101 5.4055C5.36074 4.61513 4.01032 3.44869 3 2.01006C3 2.01006 -1 11.0101 8 15.0101C5.94053 16.408 3.48716 17.109 1 17.0101C10 22.0101 21 17.0101 21 5.51006C20.9991 5.23151 20.9723 4.95365 20.92 4.68006C21.9406 3.67355 22.6608 2.40277 23 1.01006V1.01006Z"
                                        stroke="#6C5CE7" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12  follow-us">
                    <span class="footer-web-span-head"> information</span>
                    <div class="footer-mail-content">
                        <p class="foot-mail-p"> hello@fapsterapp.com</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 d-flex align-items-center justify-content-center ">
                <div class="col-lg-6 col-md-12 follow-us">
                    <span class="footer-web-span-head foot-mb ">FOLLOW US</span>

                </div>
                <div class="col-lg-6 col-md-12 follow-us">
                    <span class="footer-web-span-head foot-mb"> information</span>
                </div>
            </div>
            <div class="col-lg-6 footer-web">
                <div class="footer-list-wrapper w-100 d-flex align-items-center justify-content-start">
                    <ul>
                        <li><a href="#">About Fapster app</a></li>
                        <li><a href="#">Get in Touch</a></li>
                        <li><a href="#">Things We Like</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="li-active">Onhovered / Active</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">We are hiring!</a></li>
                        <li><a href="#">About Fapster app</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 footer-web">


                <div class="footer-input-wrapper">
                    <div class="row">
                        <div class="col-lg-6 input-pad">
                            <div class="form-floating form-floating-custom">
                                <div class="foot-web-input-wrapper d-flex align-items-center justify-content-start">
                                    <input type="text" class="form-control input-customer" id="floatingInput"
                                        placeholder="Your Name">

                                    <label class="foot-web-icon-wrap">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                            viewBox="0 0 40 40" fill="none">
                                            <path
                                                d="M28 29V27C28 25.9391 27.5786 24.9217 26.8284 24.1716C26.0783 23.4214 25.0609 23 24 23H16C14.9391 23 13.9217 23.4214 13.1716 24.1716C12.4214 24.9217 12 25.9391 12 27V29"
                                                stroke="#ADADAD" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M20 19C22.2091 19 24 17.2091 24 15C24 12.7909 22.2091 11 20 11C17.7909 11 16 12.7909 16 15C16 17.2091 17.7909 19 20 19Z"
                                                stroke="#ADADAD" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 input-pad">
                            <div class="form-floating form-floating-custom">
                                <div class="foot-web-input-wrapper d-flex align-items-center justify-content-start">
                                    <input type="text" class="form-control input-customer" id="floatingInput"
                                        placeholder="E-mail">

                                    <label class="foot-web-icon-wrap">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                            viewBox="0 0 40 40" fill="none">
                                            <path
                                                d="M12 12H28C29.1 12 30 12.9 30 14V26C30 27.1 29.1 28 28 28H12C10.9 28 10 27.1 10 26V14C10 12.9 10.9 12 12 12Z"
                                                stroke="#ADADAD" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M30 14L20 21L10 14" stroke="#ADADAD" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 input-pad d-flex align-items-center justify-content-between">
                            <div class="form-floating ">
                                <div class="foot-web-input-wrapper d-flex align-items-center justify-content-start">
                                    <textarea placeholder="Textarea" class="input-customer textarea-custom"></textarea>

                                    <label class="foot-web-icon-wrap textarea-custom-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                            viewBox="0 0 40 40" fill="none">
                                            <path
                                                d="M28 22.66V28C28 28.5304 27.7893 29.0391 27.4142 29.4142C27.0391 29.7893 26.5304 30 26 30H12C11.4696 30 10.9609 29.7893 10.5858 29.4142C10.2107 29.0391 10 28.5304 10 28V14C10 13.4696 10.2107 12.9609 10.5858 12.5858C10.9609 12.2107 11.4696 12 12 12H17.34"
                                                stroke="#ADADAD" stroke-width="3" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M26 10L30 14L20 24H16V20L26 10Z" stroke="#ADADAD" stroke-width="3"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 input-pad">
                            <div class="foot-web-btn w-100 h-100 footer-flex">
                                <button type="button" class="btn btn-customer w-100">SEND</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 d-lg-none d-md-none footer-mobile-section">
                <div class="footer-mobile-content-wrap ">
                    <div class="footer-mobile">
                        <span class="footer-mobile-content">
                            Copyright © 2018 • Your Company
                            <p class="m-0">All rights reserved</p>
                        </span>
                    </div>
                    <div class="footer-contact-content mt-1">
                        <span class="footer-contact-content-sp">
                            Made in Setproduct.com
                            <p>One man digital agency</p>
                        </span>
                        <span class="footer-mobile-email">
                            hello@setproduct.com
                        </span>
                    </div>
                    <img class="img-footer-mobile" src="/src/static/assets/Rectangle-mobile.svg" alt="">
                    <img class="img-footer-mobile" src="/src/static/assets/Rectanglefoote-mb.svg" alt="">
                    <img class="img-footer-mobile dots-mobile" src="/src/static/assets/🎨 Dotsfootermobile.svg" alt="">
                    <div class="footer-mobile-sosial-network-wrapper d-flex align-items-center justify-content-around">
                        <img src="/src/static/assets/icon-facebook-mb.svg" alt="">
                        <img src="/src/static/assets/icon-linkedin-mb.svg" alt="">
                        <img src="/src/static/assets/icon-twitter-mb.svg" alt="">
                        <img src="/src/static/assets/icon-slack-mb.svg" alt="">
                        <img src="/src/static/assets/icon-youtube-mb.svg" alt="">
                    </div>
                </div>
            </div>


        </div>


        {{!-- BOOTSTRAP 5 --}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</footer>